{% extends 'alt/base.html' %}

{% block content %}
  <h1>Информация о компании</h1>
  
  <ul>
    <li><a href="#mission" >Миссия компании</a></li>
    <li><a href="#goals" >Цели компании</a></li>
    <li><a href="#branches" >Направления деятельности компании</a></li>
  </ul>
  
  <p >
   {# <img style="float: right; padding-left: 20px;" src="{{MEDIA_URL}}/images/about-1-img.png" /> #}
   Компания ООО ИНПФ «Техпромремонт ЛТД» создана в Днепропетровске (Украина) в 1996 году группой 
   специалистов-механиков с опытом работы на предприятиях Украины и России. За годы практики специалистами 
   компании накоплен <a href="javascript: void(0)" onclick="">большой опыт</a> по внедрению инновационных технологий ремонта промышленного оборудования, 
   а именно - восстановления и увеличения ресурса работы машин и механизмов в горнодобывающей промышленности, 
   тяжелом машиностроении, металургии, химической промышленности, транспорте, энергетике и других отраслях 
   народного хозяйства.
   Для обслуживания частных заказчиков (автолюбителей) компанией создана и постоянно действует мини-СТО, где 
   специалисты-трибологи квалифицировано произведут диагностику и обработку агрегатов автомобиля геомодификаторами 
   (ДВС, АКПП, МКПП,  редуктор, ТНВД, смазка для подшипников и ШРУС, ГУР) 
  </p>
  
  <a name="mission"></a>
  <h2>Миссия компании</h2>
  <p >
    {#<img style="float: right; padding-left: 20px;" src="{{MEDIA_URL}}/images/about-2-img.png" /> #}
    Обеспечить бесперебойную работу промышленных предприятий Украины в рамках сложившихся технологических процессов, 
    сократить внеплановые простои, снизить затраты на текущий ремонт и содержание оборудования, создать возможности для 
    повышения эффективности его работы.
  </p>
  
  <div style="clear: both"></div>
  
  <a name="goals"></a>
  <h2>Цели компании </h2>
  <p >
    Техническая и информационная поддержка служб сервисных центров,  ремотных управлений, ОГМ и ОГЭ промышленных 
    предприятий в части повышения долговечности работы и восстановления изношенного оборудования. Замена традиционных 
    ремонтов на новейшие технологии безразборного востановления и упрочнения рабочих поверхностей быстроизнашиваемых узлов <br>трения машин и механизмов. 
  </p>
  
  <a name="branches"></a>
  <h2>Направления деятельности компании </h2>
    <ol >
      <li>Разработка, производство и поставка промышленному потребителю готовых 
      <a href="javascript: void(0)" onclick="">смазочных композиций</a> нового поколения,
       повышающих <a href="javascript: void(0)" onclick="">ресурс работы</a> нормально изнашиваемых машин и механизмов
        в 1,5-2 раза, как на основе типовых смазочных материалов, так и для специализированных материалом (по заказу).
      </li>
      <li>
        Разработка, производство и поставка промышленному потребителю 
        <a href="javascript: void(0)" onclick="">присадок и добавок</a> к маслам и смазкам всех типов, предназначенные для:
        <ul>        
          <li>повышения ресурса работы узлов трения машин и механизмов;</li>
          <li>обеспечения работоспособности сильно нагруженного оборудования;</li>
          <li>улучшения работы оборудования, работающего в условиях сильной запыленности;</li>
          <li>обеспечения работоспособности оборудования, работающего в условиях высоких температур;</li>
          <li>восстановления работоспособности сильно изношенного оборудования и техники;</li>
          <li>ускорения и облегчения приработки нового и отремонтированного оборудования.</li>
        </ul>
      </li>
      <li> Выполнение <a href="javascript: void(0)" onclick="">безразборного ремонта</a> изношенного оборудования и техники, как типового, так и уникального, с 
      использованием современных материалов и технологий как отечественных, так и импортных.</li>
      <li>Проведение работ по <a href="javascript: void(0)" onclick="">увеличению ресурса</a> работы  механизмов, агрегатов и узлов, активно изнашиваемых в ходе нормального 
      производственного цикла, а также работающего в тяжелых условиях.</li>
      <li>Проведение технического аудита проблемного оборудования предприятий. Разработка и выполнение силами своих специалистов 
      индивидуальных программ повышения ресурса работы оборудования, снижения простоев при ремонтах и риска аварийной остановки 
      производства.</li>
      
    </ol>
  </p>
{% endblock %}

{% block extraimages %}

            <img src="{{MEDIA_URL}}/images/about-1-img.png" />
            <img src="{{MEDIA_URL}}/images/about-2-img.png" />

{% endblock %}

