{% extends 'alt/base.html' %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        О компании
        &#9658;
        История компании
        
    </div>
    {% endblock %}


{% block content %}
  <h1>История компании</h1>
  
    <p >
    <div class="img-right-container" style="float: right; margin-left: 20px;">
       <img  width="250" src="{{MEDIA_URL}}/images/about-1-img.png" />
     </div>
   Компания <strong>ООО ИНПФ «Техпромремонт ЛТД»</strong> создана в Днепропетровске (Украина) в 1996 году группой 
   специалистов-механиков с опытом работы на предприятиях Украины и России. За годы практики специалистами 
   компании накоплен <a href="javascript: void(0)" onclick="">большой опыт</a> по внедрению инновационных технологий ремонта промышленного оборудования, 
   а именно - восстановления и увеличения ресурса работы машин и механизмов в горнодобывающей промышленности, 
   тяжелом машиностроении, металургии, химической промышленности, транспорте, энергетике и других отраслях 
   народного хозяйства.
   Для обслуживания частных заказчиков (автолюбителей) компанией создана и постоянно действует мини-СТО, где 
   специалисты-трибологи квалифицировано произведут диагностику и обработку агрегатов автомобиля геомодификаторами 
   (ДВС, АКПП, МКПП,  редуктор, ТНВД, смазка для подшипников и ШРУС, ГУР) 
  </p>
  
{% endblock %}
