{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        Результаты
        &#9658;
        Наши заказчики
        
        
    </div>
{% endblock %}

{% block content %}
    <h1>Наши заказчики</h1>
    
    
    
<p> 

<div class="img-right-container" style="float: right; margin-left: 20px;">

        <img  width="250" src="{{MEDIA_URL}}/images/clients-1.jpg" /><br />
        <img  width="250" src="{{MEDIA_URL}}/images/clients-2.jpg" /><br />
        <img  width="250" src="{{MEDIA_URL}}/images/clients-3.jpg" /><br />
        <img  width="250" src="{{MEDIA_URL}}/images/clients-4.jpg" /><br />
      
    </div>
    
    <p>
    <b>Перечень предприятий   на оборудовании которых применялся геомодификатор трения – <a href="/products#gmt">составы гмт</a> (гаут) ООО ИНПФ «Техпромремонт ЛТД»:</b></p>

<OL>
<li> ОАО Днепропетровский комбинат пищевых концентратов </li>
<li> ОАО Днепровский  крахмало-паточный комбинат </li>
<li> ОАО Днепропетровский силикатный завод </li>
<li> ОАО Днепропетровский завод металлургического оборудования –(Днепротяжмаш) </li>
<li> ОАО Днепропетровский стрелочный завод </li>
<li> ОАО Днепропетровский вагоноремонто-строительный завод </li>
<li> ГП «Приднепровская железная дорога. </li>
<li> ГП «Одесская железная дорога» </li>
<li> ООО «Ласунка» </li>
<li> ОАО «ДНЕПРОЭНЕРГО» </li>
<li> ОАО «ДНЕПРОКОКС» </li>
<li> ОАО «ИНТЕРПАЙП НТЗ» (Нижнеднепровский трубопрокатный завод) </li>
<li> ОАО «Днепродзержинский металлургический комбинат» </li>
<li> ОАО «Никопольский завод ферросплавов» </li>
<li> ОАО «Марганецкий ГОК» </li>
<li> ОАО «Полтавский ГОК» </li>
<li> ОАО «АрселорМиттал Кривой Рог» (КГГМК) </li>
<li> ОАО «Павлоградуголь»  </li>
<li> ОАО «Южный ГОК»</li>
<li> ПАО «Евраз-ДМЗ им. Петровского» (ОАО ДМЗ им. Петровского)</li>
<li> ОАО Днепропетровская бумажная фабрика</li>
<li> ЗАО «Одессацемент»</li>
<li> ОАО «Краматорский металлургический завод»</li>
<li> ОАО «Алчевский металлургический завод»</li>
<li> ОАО «Донецкий металлургический завод»</li>
<li> ОАО «Полиграфическая фабрика ЗАРЯ»</li>
<li> ГП «Химпром»</li>
<li> Новомосковский трубный завод (ОАО ИНТЕРПАЙП)</li>
<li> Никопольский крановый завод</li>
<li> Предприятия агропромышленного комплекса - КСП</li>
<li> Никопольский трубный завод – («ЮТЗ»)</li>
</OL>
    
</p>

{% endblock %}
