{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        Научная деятельность
        &#9658;
        Эксперты и консультанты
        
    </div>
{% endblock %}

{% block content %}
    <h1>Эксперты и консультанты</h1>
        
<P STYLE="font-size: 110%"><FONT FACE="Arial, sans-serif">

    <div class="img-right-container" style="float: right; margin-left: 20px;">
        <img  width="250" src="{{MEDIA_URL}}/images/experts-1.jpg" /><br />
    </div>

Научные
консультанты ООО ИНПФ &quot;Техпромремонт
 ЛТД&quot;:</P>
<UL>
	<LI STYLE="padding: 0"><P STYLE="margin-bottom: 0cm"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt">
	<B>Дидык Ростислав Петрович</B> - доктор
	технических наук, профессор, заведующий
	кафедрой технологии горного машиностроения
	Национального горного университета,
	Заслуженный деятель науки и техники
	Украины.</FONT></FONT></P>
	<LI STYLE="padding: 0"><P STYLE="margin-bottom: 0cm"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt">
	<B>Хоменко Юрий Тимофеевич</B> - кандидат
	геолого-минералогических наук, профессор,
	заведующий кафедрой исторической
	геологии Национального горного
	университета.</FONT></FONT></P>
	<LI STYLE="padding: 0"><P STYLE="margin-bottom: 0cm"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt">
	<B>Ткаченко
	Эдуард Анатольевич</B> - доктор
	технических наук, професор кафедры
	технологии машиностроения Национальной
	металлургической академии.</FONT></FONT></P>

	<LI STYLE="padding: 0"><P STYLE="margin-bottom: 0cm"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt">
	<B>Затуловский Андрей Сергеевич</B> - доктор
	технических наук, заведующий отделением
	композиционных материалов
	Физико-технологического института
	металлов и сплавов НАН Украины -
	</FONT></FONT></P>
	<LI STYLE="padding: 0"><P STYLE="margin-bottom: 0cm"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Аратский
	Павел Борисович</B> - кандидат
	технических наук, директор ЗАО
	«Промремонт» (С.П-б, Россия)</FONT></FONT></P>
</UL>

{% endblock %}
