{% extends 'base.html' %}

  {% block content %}

    <div id="base-navigation">
          <a name="navigation"></a>
          <div class="nav-item">
            <div class="nav-item-title">
              <h2>Ремонт</h2>
            </div>
            <div class="nav-item-body">
              <p>
                
                <a href="/remont">
                    <img style="float: left; margin-right: 10px;" src="{{MEDIA_URL}}/images/remont-img.png"/>
                </a>

                Восстановление технических характеристик промышленного
                оборудования<br />
                <a href="/remont" onclick="">Подробнее...</a>
              </p>
              <div style="clear: both"></div>
            </div>
          </div>
          
          <div class="nav-item">
            <div class="nav-item-title">
              <h2>Ресурс</h2>
            </div>
            <div class="nav-item-body">
              <p>
                
                <a href="/resource">
                    <img style="float: left; margin-right: 10px;" src="{{MEDIA_URL}}/images/resource-img.png"/>
                </a>
                
                Увеличение ресурса работы
                технических систем, 
                агрегатов и узлов<br />
                <a href="resource" onclick="">Подробнее...</a>
              </p>
              <div style="clear: both"></div>
            </div>
          </div>
          
      <div style="clear: both"></div>
      
      {% comment %}
      
      <div class="nav-item" >
            <div class="nav-item-title">
              <h2>Жесть</h2>
            </div>
            <div class="nav-item-body">
              <p>

                <img style="float: left; margin-right: 10px;" src="{{MEDIA_URL}}/images/extrim-img.png"/>

                Примеры работы 
                промышленного
                оборудования в 
                экстремальльных условиях 
                эксплуатации<br />
                <a href="javascript: void(0)" onclick="">Подробнее...</a>
              </p>
              <div style="clear: both"></div>
            </div>
      </div>
      {% endcomment %}
          
          <div class="nav-item">
            <div class="nav-item-title">
              <h2>Скорая помощь</h2>
            </div>
            <div class="nav-item-body">
              <p>
                <a href="/help">
                    <img style="float: left; margin-right: 10px;" src="{{MEDIA_URL}}/images/emergency-img.png"/>
                </a>


                Опыт экстренного 
                восстановления 
                ответственного
                производственного 
                оборудования<br />
                <a href="/help" onclick="">Подробнее...</a>
              </p>
              <div style="clear: both"></div>
            </div>
          </div>


      
          <div class="nav-item">
            <div class="nav-item-title">
              <h2>Авторемонт</h2>
            </div>
            <div class="nav-item-body">
              <p>

                <a href="/avtoremont">
                    <img border="0" style="float: left; margin-right: 10px;" src="{{MEDIA_URL}}/images/auto-img.png"/>
                </a>


                Восстановление 
                технических характеристик 
                и увеличение ресурса 
                работы агрегатов и узлов 
                автомобилей<br />
                <a href="/avtoremont" onclick="">Подробнее...</a>
              </p>
              <div style="clear: both"></div>
            </div>
          </div>
                
      
    </div>
    
    <div style="padding-right: 370px;">
    
    <a name="about"></a>
    <DIV style="background-color: #D5D9E3; padding: 2px 0; padding-left: 0;">
        <h1 style="font-size: 18px; padding-bottom: 0">О компании</h1>
    </DIV>
    <div align="justify" style="background-color: transparent; padding: 10px 0; border-bottom: 1px solid #122049">
        <b>Компания ООО ИНПФ «Техпромремонт ЛТД»</b> создана в Днепропетровске (Украина) в 
    1996 году группой специалистов-механиков. Мы занимаемся <b>нетрадиционными видами ремонта</b> 
    промышленного оборудования и автомобильного транспорта в области триботехнологий - увеличиваем 
    срок службы оборудования, повышаем эффективность его использования, сокращаем внеплановые прости 
    и риски аврийной остановки производства. <a href="/clients">Опыт работы</a> на предприятиях Украины и России позволил в 
    короткие сроки зарекомендовать себя как надежного партнера. Высокий профессионализм сотрудников 
    компании позволил осуществить множество проектов по ремонту уникального оборудования металлургического 
    и горнодобывающего комплексов.
    </div>
    
    <p id="main-message" align="justify">
    

    <h2>Основные принципы работы компании</h2>
    <p style="margin: 0">
    Cистемный подход к решению задач Заказчика – путь от идеи до ее воплощения в конкретные показатели. 
    Мы в состоянии выполнить все работы от диагностики проблемных мест до обеспечения технического результата.
    </p>
    <h2>Миссия компании</h2>
    <p style="margin: 0">
    Мы разрабатываем и внедряем новые технологии ремонта «в режиме штатной эксплуатации» промышленного 
    оборудования для увеличения его срока службы, повышения эффективности его использования, сокращением 
    внеплановых простоев оборудования.
    </p>
    
    <h2>Преимущества компании</h2>
    <ul>
        <li><p style="margin: 0">основная деятельность компании – оказание услуг предприятиям, а не продажа триботехнических составов и 
        материалов, мы несем ответственность за результат; компания не продает материалы и технологии, а 
        оказывает услуги – поэтому у нас надежней и качественней.</li>
        <li><p style="margin: 0">компания тесно сотрудничает с учеными Украины и России – поэтому у нас самые передовые технологии и 
            материалы</p> </li>
        <li><p style="margin: 0">компания самостоятельно производит материалы и разрабатывает технологии – поэтому у нас дешевле</p></li>
        <li><p style="margin: 0">компания имеет большой опыт решения нестандартных ситуаций и проблем в ремонте производственного оборудования различных предприятий, 
        в том числе уникального и дорогостоящего, которому уже «подписали приговор». Возможно – это Ваш случай…</p></li>
    </ul>
    
    <h2 style="margin-top:-1px">Наши реквизиты</h2>
    
    ООО ИНПФ "Техпромремонт ЛТД"<br />
    49087, г. Днепропетровск<br />
    ул. Калиновая, 68/9<br />
    р/сч. 26007111205002<br />
    в ЛО КБ "ПриватБанк"<br />
    МФО 305299, ОКПО 30260992<br />
    Инд.Налоговый 302609904612<br />
    Свидетельство пл. НДС 03476389<br />
    
    </p>
    </div>
    
    
<div style="clear: both"></div> 
    
  {% endblock %}





