{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        Ремонт
        
        
    </div>
{% endblock %}

{% block content %}
    <h1>Ремонт</h1>
    
    <div class="img-right-container" style="float: right; margin-left: 20px;">
    </div>

    <p>
        Технология и Состав для приработки и упрочнения рабочих поверхностей металлических узлов трения машин и механизмов – геомодификатор трения (составы ГМТ). 
    <p>
    
     <ul style="font-size: 110%">
        <li><a href="#goal" onclick="">Назначение</a></li>
        <li><a href="#description" onclick="">Описание</a></li>
        <li><a href="#area" onclick="">Область применения</a></li>
        <li><a href="#advantages" onclick="">Привлекательность для потребителя</a></li>
     </ul>  
 <a name="goal"> </a> 
<h2>Назначение</h2>
<p>
    <ol>
        <li><b>Повышение ресурса работы</b> машин и механизмов за счет ускоренной антифрикцмонной противоизносной приработки узлов трения с одновременным упрочнением. Полученное в ходе приработки упрочнение и оптимизация микрорельефа обеспечивают 1,5…3 кратное увеличение остаточного ресурса.</li>
        <li><b>Восстановление технических характеристик</b> эксплуатируемого частично изношенного оборудования без остановки производственного цикла (непосредственно в ходе работ, при проведении планового технического обслуживания – ТО1 и ТО2, при плановом ремонте, проводимом после наработки заданного количества моточасов). Эффект восстановления достигается за счет приработки узлов трения механизмов на новом уровне – с учетом уже имеющегося износа (эффект адаптации и обучения трибосистем).</li>
    </ol>
</p>
 <a name="description"> </a>
<h2>Описание</h2>
<p>
<b>Состав</b> имеет в своей основе мелкодисперсный природный триботехнический материал (минерал или группу минералов), прошедший механоактивацию и обогащение. ГМТ имеет технологические и функциональные добавки органического происхождения.<br /><br />

<b>Технология</b> нанесения ГМТ на поверхности трибоузла (геоактивация узлов трения) различными способами решает задачу шаржирования ГМТ в микрорельеф поверхности и первичной приработки узла трения до начала его эксплуатации, а в ряде случаев и до сборки самого узла. Собственно приработка осуществляется уже в ходе эксплуатации узла трения, in-situ. Процесс приработки пар трения с ГМТ происходит в 3...4 раза быстрее, обычного.<br /><br />

<b>Цель работ</b> по <b>геоактивации</b> - увеличение ресурса работы узлов трения за счет снижения скорости их изнашивания и/или восстановление микро- и макрогеометрии трибосопряжения, изношенного в процессе эксплуатации.<br /><br />

<b>Физические механизмы</b>. В присутствии ГМТ за счет локальной высокой энергии в зонах контакта рабочих поверхностей узлов трения происходят физические процессы, которые условно можно разнести на следующие три стадии.<br />
    <ol>
        <li>Удаление имеющегося поверхностного слоя. На этом этапе ГМТ работает как мягкий абразив, прочность частиц которого выше прочности поверхностного слоя узла трения. Это суперфинишная обработка поверхности, которую можно производить непосредственно в собранном узле трения, и таким образом скорректировать наследственность и погрешности механической обработки поверхности и сборки узла.
            <p style="font-size: 80%; margin-left: 50px;">
            Корректнее сопоставлять энергиею разрушения частиц ГМТ с энергией связи основного материала с приповерхностной органической пленкой (вероятно, трибополимеризованной), с естественно образовавшимся оксидным слоем, и, наконец, с энергией разрушения микровыступов поверхностного слоя металла. Еще точнее, нужно сопоставлять потоки и плотности потоков энергии в локальных объемах приповерхностных областей в зонах контакта микрошероховатостей и частиц ГМТ.
            </p>
        </li>
        <li>
            Измельчение частиц ГМТ трущимися поверхностями с частичным разложением вещества ГМТ и выделением свободных ионов, которые за счет протекания трибоинициированных химических реакций (часто запрещенных в нормальных условиях) и многократно возрастающей в зонах контакта скорости термодиффузии активно модифицируют приповерхностные слои металла, создают наноструктурированные поверхностные слои (НПС) - вторичные структуры трения. Одновременно происходит микронаклеп подповерхностного debris-слоя с повышением энергии активации его разрушения, иными словами, упрочнение поверхности трения (уже на мезо- и макроуровнях).
               <p style="font-size: 80%; margin-left: 50px;">
                При этом одновременно соблюдаются и принцип положительного градиента механических свойств по глубине (И.В. Крагельский), и известные из теории машин и механизмов конструкционные требования по обеспечению несущей способности трибосопряжения, обычно достигаемые за счет упрочнения подповерхностных слоев металла (закалка, азотирование и т.д.).<br />
Создаваемые на поверхности трения НПС, в силу своей ультрадисперсности, обладают свойствами сверхпластичности (необходимой для диссипации энергии сдвиговой деформации), высокой твердости и высокой энергии активации разрушения, что способствует увеличению длительности периода образования- разрушения (времени жизни) вторичных структур, следовательно и ресурса работы всего трибоузла.
               </p>
        </li>
        
        <li>
            Создание на поверхностях трения плосковершинного микрорельефа с высокими маслоудерживающими свойствами. За счет сил поверхностного натяжения в узле трения создается и постоянно удерживается устойчивая относительно толстая масляная пленка. Качественно улучшается режим работы трибоузла: из граничного трения становится смешанным (сдвигается в сторону смешанного и гидродинамического режимов). На практике - это проявляется в условиях холодного пуска, недостаточной смазки, переключения КПП, изменения режимов работы (нагрузки, скорости), виброударного нагружение и т.д.
               <p style="font-size: 80%; margin-left: 50px;">
                Подобный микрорельеф поверхности стремятся создать на гильзах цилиндра современные автопроизводители (антифрикционность, противоизносность и противозадирность). Для этого разработаны соответствующие стандарты (ИСО 4287, 3274, 5436 и др.), на этапе проектирования ДВС задаются определенные требования, разработаны методы и средства автоматизированного контроля на производстве (ИСО 12085, 11562, 13565 и др.). Наиболее распространен метод плосковершинного хонингования. Однако, создаваемый им микрорельеф, в отличие от микрорельефа, создававемого в присутствии ГМТ, все-таки нуждается в последующей приработке.
               </p>
        </li>
        
    </ol>
Описанные выше основные физические механизмы обеспечивают значительное улучшение характеристик работы трибоузла, особенно в граничных и смешанных режимах смазки, работа на которых обычно и определяет ресурс узла и всего механизма в целом.
</p>
 <a name="area"> </a> 
<h2>Область применения</h2>
<p>
Суперфинишная приработка с ГМТ дает наиболее <a href="javascript: void(0)">значительный эффект</a> на машинах и механизмах, узлы трения которых часто работают в режимах сухого или граничного трения:
<ul >
        <li>работающих в тяжелых условиях (повышенные и/или периодические виброударные нагрузки, высокие температуры, абразивная среда);</li>
        <li>часто работающих в режимах пуска - остановки, особенно холодного пуска;</li>
        <li>часто работающих в меняющихся режимах (манипуляторы);</li>
        <li>имеющих недостаточную смазку узлов трения вследствие несовершенства или износа систем смазки, нарушений периодичности ТО, снижения качества смазок и др.;</li>
        <li>открытых шестеренных и цепных передач, узлов сопряжения, работающих в открытой (абразивной) среде;</li>
        <li>сложных гидравлических систем.</li>
     </ul> 
</p>

 <a name="advantages"> </a> 
<h2>Привлекательность для потребителя</h2>
<p>
Для узлов трения новых и отремонтированных машин и механизмов с использованием ГМТ можно решить задачи:
<ul >
        <li>ускоренной и улучшенной приработки отдельных узлов трения и механизмов в сборе,</li>
        <li>финишной и суперфинишной обработки узлов трения (сокращение производственных операций),</li>
        <li>существенного увеличения ресурса новых и отремонтированных машин и механизмов,</li>
        <li>восстановление нормально изношенных трибосопряжений (и в большинстве случаев основных технических характеристик работы машин и механизмов),</li>
        <li>безразборного ремонта громоздких и сложных агрегатов,</li>
        <li>снижения энергопотребления в процессе эксплуатации,</li>
        <li>повышения надежности работы (снижения риска аварийной остановки) производственного оборудования,</li>
        <li>увеличение межремонтных интервалов работы оборудования.</li>
     </ul> 
</p>
{% endblock %}
