{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        Научная деятельность
        &#9658;
        Исследования и испытания
        
    </div>
{% endblock %}

{% block content %}
    <h1>Исследования и испытания</h1>
    
    <p>
        <div class="img-right-container" style="float: right; margin-left: 20px;">
        </div>
        
        <div style="float: right; margin-left: 20px;">
            <img src="{{MEDIA_URL}}/images/research-1.jpg" />
        </div>
    
        <h2>Металлографические исследования образцов, испытанных на машинах трения с геомодификаторами трения. </h2>
<p>
        Образцы (ролики) были выполнены из мартенситной стали и прирабатывались по схеме диск по неподвижной колодке в режиме граничного трения, смазка — Литол и (Литол+ ГМТ).<br /><br />
        
        Для анализа состояния приповерхностных слоев образцов, испытанных на машинах трения, был проведен стандартный металлографический анализ и микрофотографирование шлифов.<br /><br />
        
        Для <b>образца №1</b> (приработка в течение 5 часов в чистом Литоле) отмечено изменение основного материала в поверхностной зоне на глубинах 0,032мм и 0,055-0,060мм. В процессе трения происходит «вытягивание» зерен в виде «морской волны» в направлении следов трения (см. <a href="#picture">рис. 1</a>). Основная структура представляет частички феррита и перлита как сорбитообразного, так и пластичного. Микротвердость поверхностного слоя при нагрузке на индентор 50г составляет порядка 20- 16,48кг/мм2. <br /><br />
        
        Для <b>образца №2</b> (приработка в течение 0,5часов в Литоле с ГМТ) отмечено изменение в поверхностном слое толщиной 0,05-0,06мм (см. <a href="#picture">рис. 2</a>).Структура поверхностных зерен представляет собой «рулеты» из пластинчатого и сорбитообразного перл ита, ниже расположены зерна феррита и перлита. Микротвердость поверхности 14,5-18,4кг/мм<sup>2</sup>, а сердцевины 12,55-16,05кг/мм<sup>2</sup>. <br /><br />
        
        Для <b>образца №З</b> (приработка в течение 1,5 часов в Литоле с ГМТ) отмечено также изменение структуры поверхностного слоя на глубину 0,0025- 0,008мм (см. <a href="#picture">рис. 3</a>). <br /><br />
        
        Увеличивается распределение по поверхности сорбитообразного перлита. Основная структура феррит и сорбитообразный перлит. Особенностью является то, что имеются отдельные участки с послойно измененной поверхностью (глубиной слоя пирога 0,0020- 0,0025 мм). <br /><br />

 Для <b>образца №4</b> (приработка в течение 5 часов в Литоле с ГМТ) видоизменений поверхностного слоя не отмечено. Однако имеются отдельные волнообразные гребешки высотой 0,01-0,023 мм. Основная структура феррит и сорбитообразный перлит. Микротвердость поверхностного слоя составляет порядка 10,7-16,48кг/мм<sup>2</sup>, а центральной части 12-18,4кг/мм<sup>2</sup>. Изменения микротвердости порядка 10%. <br />
 <a name="picture"></a>
 <img src="{{MEDIA_URL}}/images/research-2.jpg" />
</p>

        <h2>Выводы</h2>
        
       <ul>
            <li><p>Геомодификатор трения оказывает влияние па перлитную структуру, углеродистой конструкционной стали. 
Он видоизменяет вид и форму пластинчатого перлита: на первом этапе — закручивая в «рулет» или, вытягивая зерна, на втором этапе — создавая «послойный пирог», и, наконец, полностью превращает пластинчатый пеолит в сорбитообразный.</p>  </li>
       <li><p>
        Геомодификатор трения изменяет микротвердость тонкого поверхностного слоя, толщиной до 0,055м ьа При этом поверхность является более твердой, отличия с митериалом сердиевины порядки 18-34% для стили мирки 30.</p>
        </li>
        
        <li><p>
            Отмечено влияние геомодификатора трении на форму поверхности трении мягких углеродистых сталей. Основной геометрией является волна со средним гаагом примерно 0,035-0,065мм (измерения получены с помощью металлографического микроскопа).</p>
        </li>
       </ul>
    </p>

{% endblock %}
