{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        Продукция и услуги
        &#9658;
        Услуги
        
    </div>
    {% endblock %}

{% block content %}
<h1> Предоставляемые услуги</h1>


<p>

<div class="img-right-container" style="float: right; margin-left: 20px;">
        <img  width="250" src="{{MEDIA_URL}}/images/uslugi-2.jpg" /><br />
        <img  width="250" src="{{MEDIA_URL}}/images/uslugi-3.jpg" /><br />
       <img  width="250" src="{{MEDIA_URL}}/images/uslugi-1.jpg" />
     </div>

    <b>
    Компания ООО ИНПФ "Техпромремонт ЛТД" оказывает предприятиям народного хозяйства (промышленности, энергетике, транспорту и др.) следующие услуги.
    </b>


<ol style="padding-top: 10px;">
<li><p style="margin: 0">
 <b>Проведение технического аудита</b> проблемных мест технологической цепочки предприятий с точки зрения высокой вероятности возникновения аварийной остановки оборудования и/или значительных затрат ресурсов на выполнение текущих и аварийных ремонтов. Оценка вероятного ущерба промышленных предприятий при аварийных остановках и плановых затрат на ремонты оборудования. </p>
</li>
<li><p style="margin: 0"><b>Разработка и выполнение</b> силами своих специалистов индивидуальных (годовых) программ повышения ресурса работы единиц оборудования и технологических линий с целью снижения простоев при ремонтах и риска аварийной остановки производства. Подготовка технико-экономического экспертного заключения о целесообразности работ и итоговых технико-экономических <a href="/results">актов</a> об их результатах.</p>
</li>
<li><p style="margin: 0"><b>Постдоговорной мониторинг</b> качества работы восстановленного оборудования и разработка предложений по повышению его остаточного ресурса.</p>
</li>
<li><p style="margin: 0"><b>Выполнение безразборного <a href="/remont">ремонта</a></b> изношенного оборудования и техники, как типового, так и уникального, с использованием современных материалов и технологий как отечественных, так и импортных.</p>
</li>
<li><p style="margin: 0"><b>Проведение работ по увеличению <a href="/resurs">ресурса</a></b> работы  механизмов, агрегатов и узлов, активно изнашиваемых в ходе нормального производственного цикла, а также работающего в тяжелых условиях.</p>
</li>
<li><p style="margin: 0"><b>Обучение персонала</b> заказчика методикам проведения работ с готовыми <a href="/products">продуктами</a> компании и контроля качества работ.</p>
</li>
<li><p style="margin: 0"><b>Консультации</b> научных работников и опытных специалистов-практиков по вопросам применения на производстве любых триботехнических материалов (включая присадки, добавки, восстановители и реконструкторы и т.д.), а также аудиторские исследования технико-экономической эффективности применения новых ресурсосберегающих, ресурсовосстанавливающих, ремонтных и др. составов (по заказу предприятий).</p>
</li>
</ol>

<b>Владельцам частнного автотранспорта и сельскохозяйственной техники</b> компания «Техпромремонт ЛТД» оказывает услуги по безразборному ремонту агрегатов и узлов автотранспортной техники, контролю их технического состояния (<a href="/avtoremont">Авторемонт</a>) 
</p>
{% endblock %} 
