{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        <a href="/avtoremont">Авторемонт</a>
        &#9658;
        Галлерея
        
    </div>
{% endblock %}

{% block content %}
    <h1>Фотогаллерея</h1>
    
    <div class="img-right-container" style="float: right; margin-left: 20px;">
    </div>
    
    <p>
        <div class="img-right-container">
            <table>
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_1.jpg" />
                    </td>
                    <td width="25%">
                        <p style="padding-top: 10px;"></p>
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_2.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr>
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_3.jpg" />
                    </td>
                    <td width="25%">
                        <p style="padding-top: 10px;"></p>
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_4.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr> 
                
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_5.jpg" />
                    </td>
                    <td width="25%">
                        <p style="padding-top: 10px;"></p>
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_6.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr>
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_7.jpg" />
                    </td>
                    <td width="25%">
                        <p style="padding-top: 10px;"></p>
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_8.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr> 
                
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_9.jpg" />
                    </td>
                    <td width="25%">
                        <p style="padding-top: 10px;"></p>
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_10.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr>
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_11.jpg" />
                    </td>
                    <td width="25%">
                        <p style="padding-top: 10px;"></p>
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_12.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr> 
                <tr valign="top">
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_14.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_15.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <img src="{{MEDIA_URL}}/images/gallery/avto_gallery_16.jpg" />
                    </td>
                    <td width="25%">
                       <p style="padding-top: 10px;"></p> 
                    </td>
                </tr>
            </table>
        </div>
    </p>

{% endblock %}
