{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        &#9658;
        <a href="/avtoremont">Авторемонт</a>
        &#9658;
        Советы автовладельцам
        
        
    </div>
{% endblock %}

{% block content %}
    <h1>Полезные советы автовладельцам</h1>
    
    
    
    <P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0cm">
    <div class="img-right-container" style="float: right; margin-left: 20px;">
        <img  width="250" src="{{MEDIA_URL}}/images/avto-info-3.jpg" /><br />
        <img  width="250" src="{{MEDIA_URL}}/images/avto-info-2.jpg" /><br />
        <img  width="250" src="{{MEDIA_URL}}/images/avto-info-1.jpg" /><br />
    </div>
    
<h2>Зачем 
автомобилю ГМТ?</h2>

<p><font  face="Arial">Начнем с банальной 
истины:</font><font color="#191919"  face="Arial"> использование 
качественных масел (равно как и регулярное 
техническое обслуживание, плюс использование 
качественных ГСМ) является залогом длительного 
срока службы и хороших эксплутационных 
характеристик двигателя, агрегатов трансмиссии 
транспортного средства. Качественные 
смазочные масла содержат </font><font  face="Arial">сбалансированные</font><font color="#191919"  face="Arial"> пакеты присадок, 
улучшающие их эксплуатационные свойства. 
Количество функциональных присадок к 
маслам исчисляется десятками.</font></p>

<p><font  face="Arial">Однако все функциональные 
присадки к маслам определяют работу 
узла трения в штатных условиях преимущественно 
гидродинамического трения и никаким 
образом не учитывают реальное состояние 
поверхностей гильз цилиндров, поршневых 
колец, шеек валов и т. д. Они работают 
одинаково как для нового, так 
и для сильно изношенного двигателя, 
а ведь условия смазывания для 
различных стадий эксплуатации двигателя 
сильно отличаются. Эксплутационный износ 
поверхностей трения вносит индивидуальные 
отличия в работу каждого узла трения 
двигателя.</font></p>
<p><font  face="Arial">Любой узел трения - это 
три компоненты, две из которых - 
сопряженные поверхности <WBR>трения, 
третья – масляная пленка, разделяющая 
эти поверхности. Присадки в маслах 
определяют свойства<b> </b>
только третьего компонента - масляной 
пленки, практически не влияя на свойства 
двух других. </font></p>
<p><font  face="Arial">В отличие от стандартных 
маслорастворимых присадок (которые 
уже есть в товарном масле), <b>геомодификаторы 
трения (</b>ГМТ) изменяют свойства рабочих 
поверхностей узла трения: шероховатость 
(и други параметры микрорельефа), микротвёрдость, 
величину коэффициента трения, скорость 
изнашивания, критическое усилия задира, 
а также изменяют макро-геометрию и регулируют 
зазоры в сопряжении.</font></p>
<p><font  face="Arial">На сегодняшний 
день ГМТ - это один из наиболее эффективных 
антифрикционных, противозадирных, противоизносных 
препаратов</font><font color="#FF6600"  face="Arial"> </font><font  face="Arial">применения широкого профиля. 
ГМТ – это отечественный инновационный 
продукт, который с полным правом можно 
отнести к нанотехнологическим разработкам.</font> <br>

</p>
<h2>Обработка 
двигателя </h2>
<p><font  face="Arial">Грамотная обработка 
двигателя позволяет увеличить 
его максимальную мощность на 5% - 7%, 
а максимальный крутящий момент на 
10% - 12%. Во всём диапазоне внешней скоростной 
и нагрузочной характеристик достигается 
увеличение мощности и крутящего момента, 
а мощность механических потерь, напротив, 
уменьшается на 15% - 22% в зависимости от 
режима.</font></p>
<p><font  face="Arial">Наибольший эффект 
достигается там, где наиболее вероятно 
нарушение штатных режимов смазывания 
узлов трения - режимов с большими нагрузками 
и малыми частотами вращения коленчатого 
вала, и особенно - на режимах холодного 
пуска двигателя. То есть там, где</font><font color="#191919"  face="Arial"> работа штатных 
пакетов масляных присадок малоэффективна, 
и состояние поверхностей становится 
определяющим для показателей мощности 
механических потерь и износа двигателя.</font></p>
<p><font color="#191919"  face="Arial">Таким образом, 
использование ГМТ является эффективным 
средством воздействия на характеристики 
двигателя. Однако ситуация далеко неоднозначна, 
поскольку в настоящее время 
на рынке препаратов автохимии появилось 
достаточно много различных препаратов 
рассматриваемого класса, отличных по 
механизмам действия.</font></p>
<p><font color="#191919"  face="Arial">Причем, неграмотное 
использование этих препаратов способно 
не только резко уменьшить эффект 
воздействия, но и привести к отрицательным 
последствиям, вплоть до &quot;летального&quot; 
исхода для двигателя.</font></p>
<p><font  face="Arial">Важным является вопрос, 
на какой стадии эксплуатации следует 
проводить обработку двигателя 
ГМТ. Опыт показывает, что у нас как работал, 
так и работает принцип -<b> &quot;пока 
гром не грянет...&quot;.</b> Почему-то многим 
автовладельцам очень хочется сначала 
полностью &quot;убить&quot; двигатель, а потом 
попытаться его реанимировать путем антифрикционной, 
противоизносной обработки.</font></p>

<p><font color="#191919"  face="Arial">Следует четко 
понимать, что обработка двигателя 
любыми препаратами не в состоянии 
восстановить рабочие характеристики 
изношенных на 80% - 90% деталей. В ряде 
случаев можно частично восстановить 
размер детали, но ее форму, упругость 
поршневых колец, формы профиля 
боковой поверхности и </font><font  face="Arial">канавок 
поршня воссоздать не удастся.</font></p>


<p><font  face="Arial"><a href="/resource">Поэтому<b> 
наибольший эффект </b>
обработки может быть достигнут</a>:</font></p>

<ul type="DISC">
  <li><font  face="Arial">на новом ДВС *;</font></li>
  <li><font  face="Arial">на двигателе после 
  хорошего капитального ремонта;</font></li>
  <li><font  face="Arial">при средней степени 
  износа двигателя. </font></li>

</ul>
<p><font  face="Arial">В этих случаях полный 
моторесурс двигателя или его <b>остаточный 
ресурс увеличивается 
в 2 – 3 раза и более</b>. При регулярной периодической 
обработке детали узлов трения могут работать 
до усталостного разрушения металла.</font><font color="#FF6600"  face="Arial"> </font></p>
<p><font  face="Arial">* Новый двигатель обрабатывать 
ГМТ целесообразно сразу после ТО-2. Видимый 
эффект обработки в этом случае покажется 
незначительным, но впоследствии обработка 
окупится резким увеличением срока службы 
двигателя.</font></p>
<p><font  face="Arial">Наряду с обработкой 
двигателя автомобиля составами ГМТ, существуют 
технологии защиты от износа МКПП, АКПП, 
раздаточных коробок, редукторов мостов, 
гидроусилителей и ТНВД различных модификаций. </font> <br>
 <br></p>

{% endblock %}
